
<body>
   <form>
      <select id="vendor" >
         <option> Juice</option>
         <option> Biscuts</option>
         <option> Snacks</option>
         <option> Tea&Coffe</option>
      </select>
   </form>
   <script type="text/javascript">
      
   </script>

</body>

<h1>Customers</h1>

<table id="simple-example" class="table table-striped table-bordered table-hover">
  <thead class="table-dark"> 
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Phone_number</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.gender %></td>
        <td><%= customer.age %></td>
        <td><%= customer.phone_number %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div id="new-customer">
<%= link_to 'New Customer', new_customer_path, class:"btn btn-secondary", remote: true %>

</div>
