
<form action="">
<select class="js-example-basic-multiple" name="states[]" multiple="multiple">
  <option value="AN">Andaman and Nicobar Islands</option>
  <option value="AP">Andhra Pradesh</option>
  <option value="AR">Arunachal Pradesh</option>
  <option value="AS">Assam</option>
  <option value="BR">Bihar</option>
  <option value="CH">Chandigarh</option>
  <option value="CT">Chhattisgarh</option>
  <option value="DD">Daman and Diu</option>
  <option value="DL">Delhi</option> 
  <option value="DN">Dadra and Nagar Haveli</option>
  <option value="GA">Goa</option>
  <option value="GJ">Gujarat</option>
  <option value="HR">Haryana</option>
  <option value="HP">Himachal Pradesh</option>
  <option value="JK">Jammu and Kashmir</option>
  <option value="JH">Jharkhand</option>
  <option value="KA">Karnataka</option>
  <option value="KL">Kerala</option>
  <option value="LD">Lakshadweep</option>   
  <option value="MP">Madhya Pradesh</option>  
  <option value="MH">Maharashtra</option>
  <option value="MN">Manipur</option>
  <option value="ML">Meghalaya</option>
  <option value="MZ">Mizoram</option>
  <option value="NL">Nagaland</option>
  <option value="OR">Odisha</option>
  <option value="PB">Punjab</option>
  <option value="PY">Puducherry</option>
  <option value="RJ">Rajasthan</option>
  <option value="SK">Sikkim</option>
  <option value="TN">Tamil Nadu</option>
  <option value="TG">Telangana</option>
  <option value="TR">Tripura</option>
  <option value="UT">Uttarakhand</option>
  <option value="UP">Uttar Pradesh</option>
  <option value="WB">West Bengal</option>   
</select>
</form>
<h1>Customers</h1>

<table id="ordersTable" class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Phone_number</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.gender %></td>
        <td><%= customer.age %></td>
        <td><%= customer.phone_number %></td>
        <td><%= customer.email %></td>

        <td><%= link_to 'Show', "#customer-#{customer.id}", class: "btn btn-mini", "data-bs-toggle" => "modal"%></td>
        

        <td>
          <%= link_to 'Edit', edit_customer_path(customer.id), class: "btn btn-mini", "data-bs-toggle" => "modal" , "data-bs-target" => "#myModal", remote: true %>
          
        </td>
    
        

        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini", remote: true%></td>
        <div class="modal" id="customer-<%=customer.id%>">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Product details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <div class="modal-body">
                FirstName: <%= customer.first_name%>
                <br>
                LastName: <%= customer.last_name%>
                <br>
                Gender: <%= customer.gender %>
                <br>
                Age: <%= customer.age %>
                <br>
                Phone_number: <%= customer.phone_number %>
                <br>
                Email: <%= customer.email %>


              </div>
            </div>
          </div>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= form_for @customer do |form| %>

<div class="container mt-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Create a product</button>
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Product details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <form>


              <div class="field form-group">
                <%= form.label :first_name %>
                <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
              </div>

              <div class="field form-group">
                <%= form.label :last_name %>
                <%= form.text_field :last_name, class:"form-control", placeholder: "Last Name"%>
              </div>

              <div class="field form-group">
               <%= form.label :gender %>
               <%= form.text_field :gender, class:"form-control" %>
              </div>

              <div class="field form-group">
                <%= form.label :age %>
                <%= form.text_field :age, class:"form-control" %>
              </div>

              <div class="field form-group">
                <%= form.label :phone_number %>
                <%= form.text_field :phone_number,class:"form-control" %>
              </div>

              <div class="field form-group">
                <%= form.label :email %>
                <%= form.text_field :email, class:"form-control" %>
              </div>
              <br/>
              </form>
          </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= submit_tag "Create product", class: " btn btn-primary"%>
              </div>

        </div>
      </div>
    </div>
</div>
<% end %>